<span class="display: flex;margin-left:auto;order:2">
<mat-card>
  <mat-card-header>
    <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->

    <mat-card-title>Name: {{orderLine.product.productName}}</mat-card-title>
    <mat-card-subtitle>ProductId: {{orderLine.product.productId}}</mat-card-subtitle>
    <mat-card-subtitle>ProductClass: {{orderLine.product.productClass}}</mat-card-subtitle>
    <mat-card-subtitle>UnitPrice: {{orderLine.product.unitPrice}}</mat-card-subtitle>
    <mat-card-subtitle>Description: {{orderLine.product.description}}</mat-card-subtitle>
  </mat-card-header>
  
</mat-card>

</span>
