<mat-card>
  <mat-card-header>
    <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
      <mat-card-title><mat-icon>add_shopping_cart</mat-icon>{{product.productClass}}</mat-card-title>
      <mat-card-subtitle>{{product.productName}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.unitPrice}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.availability}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.inStock}}</mat-card-subtitle>
      <mat-card-subtitle>{{product.userId}}</mat-card-subtitle>    
  </mat-card-header>
  <mat-card-content>
    <!-- <h3 mat-subheader>Different productdetails</h3>
    <mat-list>
      <mat-list-item *ngFor="let productDetail of productDetails">
        <app-product-detail [category]="productDetail"></app-product-detail>
      </mat-list-item>
    </mat-list> -->
  </mat-card-content>
</mat-card>
