
<mat-card>
    <mat-card-header>
      <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->       
       CURRENT LOGGED IN USER:
       <button (click)="showLoggedInUser()" mat-flat-button>
        Show LoggedInUser
      </button>
    </mat-card-header>
    
    <mat-card-content>
      <div>
        <div
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutGap="0.5%"
          fxLayoutAlign="start"
        >
          <div
            class="orderline"
            *ngFor="let orderline of orderlines$"
            fxFlex="0 0 calc(25%-0.5%)"
            fxFlex.xs="100%"
          >
          <app-orderline [orderLine]="orderline" data-cy="orderLineCard"> </app-orderline>         
            
          </div>
        </div>
      </div>
      <div>
        <mat-card-subtitle>Ordertotaal: {{order.orderTotaal}}</mat-card-subtitle>     
        <mat-card-subtitle>Active{{order.active}}</mat-card-subtitle>
        <mat-card-subtitle>Creationdate{{order.creationDate}}</mat-card-subtitle>
       
      </div>
      <!-- <h3 mat-subheader>Different productdetails</h3>
      <mat-list>
        <mat-list-item *ngFor="let productDetail of productDetails">
          <app-product-detail [category]="productDetail"></app-product-detail>
        </mat-list-item>
      </mat-list> -->
    </mat-card-content>
  </mat-card>
  